---
import Layout from "../components/layout.astro";
---

<Layout
  title="Not Found"
  description="404 Not Found"
  emoji="🥴"
  url="https://mikuhl.me/404"
>
  <p class="fixed inset-0 flex items-center justify-center text-5xl">
    <span class="border-r p-2">🥴</span>
    <span class="p-2">Not Found</span>
  </p>
</Layout>
